@using Annexio_Assessment.Models;
@using Annexio_Frontend.Controllers;
@using Microsoft.VisualBasic;
@using PagedList;

@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

<div class="container">
<div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Countries List
        </div>
        <div class="panel-body accordion" id="accordionExample">
            <input type="text" id="search" placeholder="Type to search">
            <table class="table table-condensed table-striped" id="table">
                <thead>
                <tr>
                    <th>Country</th>
                    <th>Region</th>
                    <th>Subregion</th>
                </tr>
                </thead>

                <tbody>
                @foreach (Country country in ViewBag.CountriesList)
                {
                    <tr>
                        <td data-toggle="collapse" data-target="#@country.alpha3Code" class="accordion-toggle">@country.name</td>
                        <td data-toggle="collapse" data-target="#@String.Format(Strings.Replace(country.region, " ", "") + country.alpha2Code)" class="accordion-toggle">@country.region</td>
                        <td data-toggle="collapse" data-target="#@String.Format(Strings.Replace(country.subregion, " ", "") + country.alpha2Code)" class="accordion-toggle">@country.subregion</td>
                    </tr>
                    <tr>
                        <td colspan="12" class="hiddenRow">
                            <div class="accordian-body collapse" id="@country.alpha3Code" data-parent="#accordionExample">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Country Name</th>
                                        <th>Capital City</th>
                                        <th>Population</th>
                                        <th>Official Currencies</th>
                                        <th>Languages</th>
                                        <th>Neighboring countries</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>@country.name</td>
                                        <td>@country.capital</td>
                                        <td>@country.population</td>
                                        <td>
                                            @{
                                                if (@country.currencies != null)
                                                {
                                                    foreach (var currency in @country.currencies)
                                                    {
                                                        @currency.name
                                                        <br/>
                                                    }
                                                }
                                            }
                                        </td>
                                        <td>
                                            @{
                                                if (@country.languages != null)
                                                {
                                                    foreach (var language in @country.languages)
                                                    {
                                                        @language.name
                                                        <br/>
                                                    }
                                                }
                                            }
                                        </td>
                                        <td>
                                            <table>
                                                @{
                                                    if (@country.borders != null)
                                                    {
                                                        @foreach (var borders in @country.borders)
                                                        {
                                                            <tr>
                                                                <td data-toggle="collapse" data-target="#@borders" class="accordion-toggle">
                                                                    <a href="#@borders">@borders</a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12" class="hiddenRow">
                            <div class="accordian-body collapse" data-parent="#accordionExample" id="@String.Format(Strings.Replace(country.region, " ", "") + country.alpha2Code)">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Region Name</th>
                                        <th>Population</th>
                                        <th>Countries in Region</th>
                                        <th>Subregions in Region</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>@country.region</td>
                                        <td>@HomeController.GetRegionPopulation(country.region)</td>
                                        <td>
                                            <table>
                                                @{
                                                    if (@country.region != null)
                                                    {
                                                        foreach (var regionCountry in @HomeController.GetCountriesForRegion(country.region)!)
                                                        {
                                                            <tr>
                                                                <td data-toggle="collapse" data-target="#@HomeController.GetCountryAlphaCode(regionCountry)" class="accordion-toggle">
                                                                    <a href="#@HomeController.GetCountryAlphaCode(regionCountry)">@regionCountry</a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </table>
                                        </td>
                                        <td>
                                            <table>
                                                @{
                                                    if (@country.subregion != null)
                                                    {
                                                        foreach (var regionSubRegion in @HomeController.GetSubRegionsForRegion(country.region)!)
                                                        {
                                                            if (regionSubRegion == country.subregion)
                                                            {
                                                                <tr>
                                                                    <td data-toggle="collapse" data-target="#@String.Format(Strings.Replace(regionSubRegion, " ", "") + country.alpha2Code)" class="accordion-toggle">
                                                                        <a href="#@String.Format(Strings.Replace(regionSubRegion, " ", "") + country.alpha2Code)">@regionSubRegion</a>
                                                                    </td>
                                                                </tr>
                                                            }
                                                            else
                                                            {
                                                                @regionSubRegion
                                                                <br/>
                                                            }
                                                        }
                                                    }
                                                }
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="12" class="hiddenRow">
                            <div class="accordian-body collapse" data-parent="#accordionExample" id="@String.Format(Strings.Replace(country.subregion, " ", "") + country.alpha2Code)">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Subregion Name</th>
                                        <th>Population</th>
                                        <th>Region under</th>
                                        <th>Countries within subregion</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>@country.subregion</td>
                                        <td>@HomeController.GetSubRegionPopulation(country.subregion)</td>
                                        <td data-toggle="collapse" data-target="#@String.Format(Strings.Replace(country.region, " ", "") + country.alpha2Code)" class="accordion-toggle">
                                            <a href="#@String.Format(Strings.Replace(country.region, " ", "") + country.alpha2Code)">@country.region</a>
                                        </td>
                                        <td>
                                            <table>
                                                @{
                                                    if (@country.subregion != null)
                                                    {
                                                        foreach (var subregionCountry in @HomeController.GetCountrySubRegionsForRegion(country.subregion)!)
                                                        {
                                                            <tr>
                                                                <td data-toggle="collapse" data-target="#@HomeController.GetCountryAlphaCode(subregionCountry)" class="accordion-toggle">
                                                                    <a href="#@HomeController.GetCountryAlphaCode(subregionCountry)">@subregionCountry</a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            @* TODO:Uncomment when testing pagination *@
            @* @if (ViewBag.Page > 0) *@
            @* { *@
            @*     <a href="@Url.Action("Index", new { page = ViewBag.Page - 1 })"  *@
            @*        class="btn btn-default"> *@
            @*         &laquo; Prev *@
            @*     </a> *@
            @* } *@
            @* @if (ViewBag.Page < ViewBag.MaxPage) *@
            @* { *@
            @*     <a href="@Url.Action("Index", new { page = ViewBag.Page + 1 })"  *@
            @*        class="btn btn-default"> *@
            @*         Next &raquo; *@
            @*     </a> *@
            @* } *@
        </div>
    </div>
</div>
</div>
<script>
var $rows = $('#table tr');
$('#search').keyup(function() {
    var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
    
    $rows.show().filter(function() {
        var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
        return !~text.indexOf(val);
    }).hide();
});
</script>